body {
    zoom: 0.9;
    font-family: Arial, sans-serif;
    background: linear-gradient(steelblue, antiquewhite, lightblue);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-links {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: -20px;
}

.section-links a {
    color: white;
    margin: 15px;
    margin-bottom: 1px;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px #000000;

}


.top-nav-bar {
    background: linear-gradient(steelblue, dodgerblue, lightblue);
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: sticky;
    top: 0;
    z-index: 1;
}

.top-nav-bar b {
    font-family: "Century Gothic";
    /*color: #dce2ff;*/
    /*color: #979dba;*/
    /*color: #b8bedb;*/
    /*color: #c8ceeb;*/
    /*color: #d2d8f5;*/
    /*color: #b3e0f2;*/
    color: #bae7f9;
    font-weight: bolder;
    text-shadow: 2px 2px 4px #000000;
}

.top-nav-bar h3 {
    font-family: "Century Gothic";
    color: #bae7f9;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    margin-left: 20px;
    text-shadow: 2px 2px 4px #000000;
}

#profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    display: block;
    margin: 0 auto 15px;
    object-fit: contain;
    object-position: center top;
    transform: scale(1.2);
}

#about-me {
    text-align: center;
    margin-bottom: 15px;
    font-weight: unset;
}

#about-me h2 {
    border-left: 8px inset black;
    border-bottom: 4px solid black;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    font-size: 32px;
    font-weight: bold;
}

#about-me p {

}

#projects {
    border-left: 8px inset black;
    border-bottom: 4px solid black;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

.h2-skills-abilities {
    color: dodgerblue;
    text-shadow: 5px 8px 12px ghostwhite;
    text-align: center;
    border : 10px inset dodgerblue;
    border-radius: 10%;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Tangerine', serif;
}

.list-skills-abilities {
    border: 8px dodgerblue inset;
    border-radius: 10%;
}

#skills-abilities {
    border-left: 8px inset black;
    border-bottom: 4px solid black;
    text-align: center;
    margin-bottom: 50px;
    padding: 10px;
    color: #333333;
    font-size: 18px;
    font-weight: bold;
}

header {
    background-color: cadetblue;
    background-image: url("assets/background12.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 20px 0;
    color: #fff;
    margin-bottom: 5px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px #000000;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
}

.project {
    margin-bottom: 15px;
    margin-top: 25px;


}

.project img {
    width: 100%;
    height: auto;
    margin-bottom: 30px;
    border-radius: 5px;
}

.project h2 {
    text-align: center;
    border: 7px outset black;
    border-radius: 30px;
    background-color: dodgerblue;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-family: 'Tangerine', serif;
}

h2 {
    font-family: 'Tangerine', serif;
    text-shadow: 5px 1px 5px #000000;
    font-weight: unset;
    color: white;
    font-weight: bold;
}

footer {
    background: linear-gradient(steelblue, dodgerblue, lightblue);
    padding: 20px 0;
    color: #fff;
    text-align: center;
}

#skills {
    border: 2px solid black;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    /*background-color: #f2f2f2;*/
    background: linear-gradient(white, white, lightblue);
}

.banner-test {
    background-image: url("assets/background12-2.jpg");
    background-size: cover;
    background-position: center;
    padding: 20px 0;
    position: sticky;
    margin-bottom: 20px;
    border-radius: 15px;
}

.banner-test h3 {
    text-align: center;
    color: white;
    font-size: 25px;
    font-family: 'Tangerine', serif;
    text-shadow: 2px 2px 4px #000000;
    font-style: italic;
    font-weight: bolder;
}

.img-project {
    border: 3px solid white;
    border-radius: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px #000000;
}

.img-project:hover {
    border: 3px solid black;
}

.img-project:active {
    border: 3px solid dodgerblue;
}

.img-project a:hover {
    color: dodgerblue;
}

.list-skills-abilities {
    list-style: none;
    padding: 0;
    margin: 0;

}

.list-skills-abilities li {
    font-style: italic;
    font-size: 20px;
    color: #333333;
    position: relative;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-bottom: 10px;
    padding-top: 10px;

    font-weight: bold;
    font-family: 'Tangerine', serif;
    text-shadow: 2px 2px 8px white;
}

.list-skills-abilities li::before {
    position: absolute;
    left: -2.5em;
    top: -.5em;
    background-color: white;
    width: 2em;
    height: 2em;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    border : 2px solid #333333;
    box-sizing: border-box;
}

p {
    color: black;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Tangerine', serif;
    text-shadow: 2px 2px 8px white;
}

